<center><h1>My Bucket List:</h1></center>
<hr><br><br>

<% @life_goals.each do |goal| %>
  <div>
    <li><strong><%= goal.title %></strong> | <%= goal.summary %> | <a href="/life_goals/<%= goal.id %>">View This Goal</a></li>
  </div><br>
<% end %>

<br>

<a href="/life_goals/new">+ Add a New Life Goal</a>

<br><br>
<div align="right">
  <a href="/logout">Log Out</a>
</div>
