<h1>Log In:</h1>
<hr><br>

<form action='/login' method="POST">
  Username: <input type="text" name="username" placeholder="username"><br><br>
  Password: <input type="text" name="password" placeholder="password"><br><br>

  <input type="submit" value="Log In">
</form>
